
body {
    background-color: var(--color-white);
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}

header {
    padding: 20px 30px;
    width: 100%;
    color: var(--color-blue);
}

header a img {
    width: 30px;
    height: auto;
}

main {
    margin-top: 20px;
    padding: 0px 30px;
}

/* Background images */
main figure {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#discover-img {
    background-image: url('../assets/mockups/discover.png');
}

#nasa-img {
    background-image: url('../assets/mockups/nasa.png');
}

#rijks-img {
    background-image: url('../assets/mockups/Rijks.png');
}

#spacex-img {
    background-image: url('../assets/mockups/Spacex.png');
}

#music-img {
    background-image: url('../assets/mockups/music-fiesta.png');
}

#tesla-img {
    background-image: url('../assets/mockups/Tesla.png');
}

#todo-img {
    background-image: url('../assets/mockups/todo.png');
}

main figure {
    height: 600px;
    width: 100%;
    background-color: grey;
}

.title-container {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-grow: none;
    gap: 5px;
    max-width: 300px;
    height: fit-content; 
}

#tags li {
    padding: 5px 10px 5px 10px;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 25px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container h1 {
    font-size: 60px;
    color: var(--color-blue);
    font-weight: lighter;
    white-space: nowrap;
}

.text-container {
    margin-top: 40px;
    margin-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

#meta-data {
    list-style: none;
    font-size: 20px;
    color: var(--color-blue);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text-container p {
    width: 100%;
    max-width: 500px;
    color: var(--color-blue);
}

footer {
    width: 100%;
    height: 400px;
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 4em;
}

footer a:hover span:first-of-type {
    padding-left: 40px;
    transition: .5s;
}

footer a:hover span:nth-of-type(2) {
    padding-left: 140px;
} 

footer a span {
    display: block;
    white-space: nowrap;
    transition: .75s;
}

footer a span:nth-of-type(2) {
    padding-left: 200px;
}

@media (max-width: 800px) {
    .title-container h1 {
        font-size: 40px;
    }
}

@media (max-width: 650px) {
    #tags li {
        font-size: 12px;
        padding: 3px 10px 3px 10px;
    }
} 

@media (max-width: 570px) {
    footer a  {
        font-size: 2em;
    }
    footer a span:nth-of-type(2) {
        padding-left: 40px;
    }
    footer a:hover span:first-of-type {
       padding-left: -10px;
    } 
}

@media (max-width: 480px) {
    .title-container {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 350px) {
    .title-container h1 {
        font-size: 30px;
    }
}